
<div class="darkmode-box">
        DarkMode
        <label class="switch">
          <input id="darkmode" type="checkbox" checked>
          <span class="slider round"></span>
        </label>
    </div>

<header>
    <div class="head-container">
        <div class="header_left">
            <img id="headshot" src="img/headshot.jpg">    
        </div>
        <div class="header_right">
            <div class="intro">
                <p class="intro__pre">Hello</p>
                <p class="intro__main">I'm <span>{{ site.name }}</span>,<br>a {{ site.job }}</p>
                <p class="intro__post">at {{ site.location }}</p>
            </div>

            {% if site.github_username or site.codepen_username or site.twitter_username or site.email_address or site.linkedin_username %}
            <div class="social">
                {% if site.email_address %}
                <a class="social-section" href="http://{{ site.site_address }}">
                        <span class="fa fa-globe-americas social-icon"></span>
                        <!--<img class=social-icon src="img/icons/web.svg"> -->
                            Website
                </a>
                
                {% endif %}

                {% if site.github_username %}
                <a class="social-section" href="http://github.com/{{ site.github_username }}" target="_blank">
                            <i class="fab fa-github social-icon"></i>
                            GitHub
                </a>
                {% endif %}

                {% if site.twitter_username %}<a class="social-link" href="http://twitter.com/{{ site.twitter_username }}" target="_blank">Twitter</a>{% endif %}

                {% if site.codepen_username %}<a class="social-link" href="http://codepen.io/{{ site.codepen_username }}" target="_blank">CodePen</a>{% endif %}

                {% if site.linkedin_username %}
                <a class="social-section" href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                            <i class="fab fa-linkedin social-icon"></i>
                            LinkedIn
                </a>
                {% endif %}

                {% if site.email_address %}
                <a class="social-section" href="mailto:{{ site.email_address }}" target="_blank">
                            <i class="fas fa-envelope social-icon"></i>
                            Email
                </a>
                {% endif %}
            </div>
            {% endif %}

        </div>
    </div>
</header>
