<dl class="mission">
    <dt>
        {{site.data.bio.mission}}
    <dt/>
</dl>


<div class="little-box" id="education">
<img class="section-icon" src="img/icons/education.svg">  
<h3 class="section-title">Education</h3>
<dl class="education">
    {% for qualification in site.data.education %}
        <div class="resume_container">
            <dt>
                <p class="title">{{ qualification.qualification }}</p>
                <p class="company">{{ qualification.school }}</p>
                <p class="period">{{ qualification.period }}</p>
            </dt><!--
            --><dd>
                <p>{{ qualification.description }}</p>
            </dd>
        </div>
    {% endfor %}
</dl>
</div>



<div class="little-box" id="experience">
    <img class="section-icon" src="img/icons/robot-arm.svg">  
    <h3 class="section-title">Experience</h3>
    <dl class="experience">
        {% for job in site.data.jobs %}
            <div class="resume_container">
                <div class="cv_desktop_left"> <!--THIS IS WHERE ALL OF THE DESKTOP STUFF GOES-->
                    <dt>
                        <p class="company"> {{ job.company }}</p>
                        <p class="period">{{ job.period }}</p>

                        {% if job.company_site %}
                        <div class="links">
                            <a class="links-grey" target="_blank" href="{{job.company_site}}">
                            <i class="fa fa-globe-americas links-icon"></i> Website</a>
                        </div>
                        {% endif %}
                    </dt>
                    <dd>
                        <p class="title">{{ job.title }}</p>
                        <p>{{ job.description }}</p>
                        <div class="links">
                        {% if job.link %}
                            <a target="_blank" href="{{job.link}}">
                                <i class="fa fa-globe-americas links-icon"></i> Check out my work!</a>
                        {% endif %}
                        </div>
                    </dd>

                </div>
                <div class="cv_mobile_left">
                    <dt>             
                        <p class="title">{{ job.company }}</p>
                        <p class="company">{{ job.title }}</p>
                        <p class="period">{{ job.period }}</p>
                    </dt>
                    <dd>
                        <!--<p class="title">{{ job.title }}</p>
                        <div class="cv_mobile_left">
                            <p class="company">{{ job.company }}</p>
                            <p class="period">{{ job.period }}</p>
                        </div>
                        -->
                        <p>{{ job.description }}</p>

                        <div class="links">
                            {% if job.company_site %}
                                    <a class="links-grey" target="_blank" href="{{job.company_site}}">
                                    <i class="fa fa-globe-americas links-icon"></i> Website</a>
                            {% endif %}
                            {% if job.link %}
                                <a target="_blank" href="{{job.link}}">
                                <i class="fa fa-globe-americas links-icon"></i> Check out my work!</a>
                            {% endif %}
                        </div>
                    </dd>



                </div>
            </div>
        {% endfor %}
    </dl>
</div>



<div class="little-box" id="leadership">
    <img class="section-icon" src="img/icons/leadership.svg"> 
<h3 class="section-title">Leadership</h3>
<dl class="education">
    {% for teach in site.data.leadership %}
        <div class="resume_container">
            <dt>
                <p class="title">{{ teach.title }}</p>
                <p class="company">{{ teach.organization }}, {{ teach.location }}</p>
                <p class="period">{{ teach.period }}</p>
            </dt><!--
            --><dd>
                <p>{{ teach.description }}</p>
                {% if teach.link %}
                    <div class="links">
                        <a target="_blank" href="{{teach.link}}" >
                        <i class="fa fa-globe-americas links-icon"></i> Check it out!</a>
                    </div>
                {% endif %}
            </dd>
        </div>
    {% endfor %}
</dl>
</div>


<div class="little-box"  id="awards">
<img class="section-icon" src="img/icons/awards.svg">  
<h3 class="section-title">Awards & Honors</h3>
<dl class="awards">
    {% for award in site.data.awards %}
        <div class="resume_container">
            <dt>
                <p class="title">{{ award.name }}</p>
                <p class = "company">{{ award.location }} - {{award.year}}</p>
            </dt>
            <dd>
                <p></p>
                {% if award.link %}
                    <div class="links">
                        <a target="_blank" href="{{award.link}}">
                        <i class="fa fa-globe-americas links-icon"></i> Check it out!</a>
                    </div>
                {% endif %}
            </dd>
        </div>
    {% endfor %}
</dl>
</div>



<div class="little-box" id="teaching">
    <img class="section-icon" src="img/icons/teaching_p.svg"> 
<h3 class="section-title">Teaching</h3>
<dl class="education">
    {% for teach in site.data.teaching %}
        <div class="resume_container">
            <dt>
                <p class="title">{{ teach.class }}</p>
                <p class="company">{{ teach.title }}, {{ teach.school }}</p>
                <p class="period">{{ teach.period }}</p>
            </dt><!--
            --><dd>
                <p>{{ teach.description }}</p>
                {% if teach.link %}
                    <div class="links">
                        <a target="_blank" href="{{teach.link}}">
                        <i class="fa fa-globe-americas links-icon"></i> Check it out!</a>
                    </div>
                {% endif %}
            </dd>
        </div>
    {% endfor %}
</dl>
</div>



<div class="little-box" id="publications">
<img class="section-icon" src="img/icons/publications.svg">
<a href="https://scholar.google.com/citations?hl=en&user={{ site.google_scholar_user }}" target="_blank">
    <img class="scholar-icon" src="img/icons/scholar-icon.png" alt="Google Scholar Icon">
</a>
<h3 class="section-title">Publications</h3>
<dl class="publications">
    {% for pub in site.data.publications %}
        <div class="resume_container">
            <dt>
                <div class="pub_names">{{ pub.names }},</div>
                <div class="company"><a target="_blank" href="{{pub.link}}" title="View on Journal Website" >"{{ pub.title }},"</a></div>
                <div class="journal">{{ pub.journal }}</div>, <div class="time_period">{{pub.year}}</div>
                <div class="pub_info" >
                    <ul class="tags">
                        {% for tag in pub.tags %}
                            {% assign tag_link = site.data.tags[tag] %}
                            <li><a class ="tag" target="_blank" href="{{tag_link}}">{{tag}}</a></li>
                            
                        {% endfor %}
                    </ul>
                </div>
            </dt>
            <dd>
                {% if pub.link or pub.pdf_link or pub.bib_link  %}
                    <div class="links">
                        {% if pub.link %}
                            <a target="_blank" href="{{pub.link}}"" title="View on Journal Website">
                                <i class="fa fa-globe-americas links-icon"></i>
                            </a>
                        {% endif %}
                        {% if pub.pdf_link %}
                            <a class ="links_pdf" target="_blank" href="{{pub.pdf_link}}" title="Get PDF">
                                <i class="far fa-file-pdf links-icon"></i>
                            </a>
                        {% endif %}
                        {% if pub.bib_link %}
                            <a class="links_bib"  target="_blank" href="{{pub.bib_link}}" title="Get BibTeX">
                                <i class="fa fa-quote-right links-icon"></i>
                            </a>
                        {% endif %}
                        {% if pub.media_link %}
                            <a class="links_media"  target="_blank" href="{{pub.media_link}}" title="View Media">
                                <i class="fas fa-film links-icon"></i>
                            </a>
                        {% endif %}


                        
                        </div>
                {% endif %}
            </dd>
        </div>
    {% endfor %}
</dl>
</div>






<div class="little-box" id="projects">
<img class="section-icon" src="img/icons/projects.svg">
<h3 class="section-title">Projects</h3>
<dl class="publications projects">
    {% for proj in site.data.projects %}
        <div class="resume_container">
            <dt>
                <a target="_blank" href="{{proj.link}}">
                    <div class="proj_img"><img src="img/projects/{{ proj.img }}"/></div>
                </a>
            </dt>
            <dt>
                <div class="company"><a target="_blank" href="{{proj.link}}" title="View Website" >{{ proj.title }}</a></div>
                <div class="time_period"> ({{proj.year}})</div>
                <div>{{ proj.description }}</div>
                <div class="proj_info" >
                    <ul class="tags">
                        {% for tag in proj.tags %}
                            {% assign tag_link = site.data.tags[tag] %}
                            {% if tag_link %}
                            <li><a class ="tag" target="_blank" href="{{tag_link}}">{{tag}}</a></li>
                            {% else%}
                            <li><div class ="tag" target="_blank" href="{{tag_link}}">{{tag}}</div></li>
                            {% endif %}
                            
                        {% endfor %}
                    </ul>
                </div>
            </dt>
            <dd>
                {% if proj.github_link or proj.pdf_link or proj.bib_link  %}
                    <div class="links">
                        {% if proj.github_link %}
                            <a target="_blank" href="{{proj.github_link}}"" title="View on Github">
                                <i class="fab fa-github links-icon"></i>
                            </a>
                        {% endif %}
                        {% if proj.pdf_link %}
                            <a class ="links_pdf" target="_blank" href="{{proj.pdf_link}}" title="Get PDF">
                                <i class="far fa-file-pdf links-icon"></i>
                            </a>
                        {% endif %}
                        {% if proj.bib_link %}
                            <a class="links_bib"  target="_blank" href="{{proj.bib_link}}" title="Get BibTeX">
                                <i class="fa fa-quote-right links-icon"></i>
                            </a>
                        {% endif %}
                        {% if proj.media_link %}
                            <a class="links_media"  target="_blank" href="{{proj.media_link}}" title="View Media">
                                <i class="fas fa-film links-icon"></i>
                            </a>
                        {% endif %}


                        
                        </div>
                {% endif %}
            </dd>
        </div>
    {% endfor %}
</dl>
</div>






