// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 20px;
$small_spacer: 10px;
$big_spacer: 40px;
$max_page_width : 860px;

.container {
    max-width: $max_page_width+$big_spacer;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: $big_spacer;
}


.head-container {
    max-width: $max_page_width;
    margin: 0 auto;
    padding: 0 $spacer;
}


.little-box{
    padding: 20px;
    padding-bottom: 20px;
    background-color: $box-bg;
    border-radius: 0px;
    border-style: Dashed;
    border-color: $box-border;
    border-width: 0px;
    margin-bottom: $small_spacer;
    position: relative;
}


.little-box:last-child{
    margin-bottom: 0px;
}



//.little-box:hover{
    //.section-icon{
    //    fill: $white-color;
    // }
//}


.section-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    fill: $accent-color;

}



//All the settings for full-width
@media(min-width: $base-mobile-width) {
    .section-icon{
        width: 75px;
        height: 75px;
    }

    .container{
        padding-left: $big_spacer;
        padding-right: $big_spacer;
    }

    .little-box{
        //border-radius: 5px;
        //border-style: Dashed;
        //border-color: $box-border;
        border-width: 0px;
        margin-bottom: $big_spacer;
    }
}







//the social icons



.social-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
    fill: $accent-color;
    color:$accent-color;
    font-size:32px;
}


.social-section{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: $box-bg-light;
    padding: 5px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background: none;//$box-bg-dark;
    background: $box-bg-alpha;

    display: inline-block;
    text-align: center;
    text-decoration: none;



    &:hover{
        background: $box-bg-light;
        border-color: $box-border;
        text-decoration: none;
        color: $white-color;

        .social-icon{
            transform: translate(0,-10%);
            fill: $white-color ;
            color:$white-color;
        }

    };
}


//////////////////////////////////////

.section-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: ($spacer * 2);
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 1.2em;

    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -20%;
        width: 40%;
        height: 1px;
        background: #626262;
    }
}

a {
    color: $link-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $link-hover;
        text-decoration: underline;
    }
}


// CENTRALIZED LIGHT MODE

.bg_overlay{
    background-image: url('/img/blue_drawing.jpg');
    background-repeat: repeat-y;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-size: 300%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.15;
    z-index: -1;
}


@media(min-width: $base-mobile-width) {
    .bg_overlay{
        background-size: 100%;
    }
}


body {

    @include light_transition(color, background-color, background-image, background-size, font-weight);
    .bg_overlay{@include light_transition(background-size, background-image, opacity)};
    .little-box {@include light_transition(background-color, border-color)};
    .darkmode-box{@include light_transition(background,fill,color,background,top,bottom)};
    .nav-item{@include light_transition(background)};
    .current{@include light_transition(background,fill,color,background)};
    .section-icon {@include light_transition(fill, width)};
    .invert-icon {@include light_transition(all)};
    .social-section {@include light_transition(border-color, background, color);
        .social-icon{@include light_transition(fill, color, transform)}
    };
    a {@include light_transition(color)}
    .mission dt {@include light_transition(color)}
    .mission dt em {@include light_transition(color)}
    .links a {@include light_transition(all)}
    .footer{@include light_transition(border)}
    .tag{@include light_transition(background, color, border-color)}
    .tag:before{@include light_transition(background, color, border-color)}

    #headshot{@include light_transition(border)}
    .proj_img img{@include light_transition(border,box-shadow)}
}




body.light-mode {
    background-color: $lm-bg;
    background-image: none;
    background-repeat: repeat;
    color: $lm-font-color;
    font-weight: 400;


    .bg_overlay{
        opacity: 0.20;
    }

    .darkmode-box{
        background: $lm-box-bg-light; /*$lm-box-bg-alpha2;*/
    }


    .invert-icon{
        fill: $lm-accent-color;
        color:$lm-accent-color;
    }


    .nav-bar a {
        display: flex;
        padding:5px;

        .section-icon{
            fill: $lm-link-color;
        }
    }

    .nav-bar a:hover{

        .section-icon{
            fill: $lm-link-hover;
        }
    }


    .nav-bar li{
        .current{
            background: $lm-box-bg-light ;
            color:$lm-accent-color;

            .section-icon{
                fill: $lm-accent-color;
            }
        }
    }


    #headshot{
        border-color: $lm-box-border;
    }

    .proj_img{
        img{
            border-color: $lm-box-border;
        }
    }

    .proj_img:hover{
        img{
            box-shadow-color: $lm-box-border;
            border-color: $lm-box-border;
        }
    }

    .little-box {
        background-color: $lm-box-bg;
        border-color: $lm-box-border;
    }

    .section-icon {
        fill: $lm-accent-color;
    }

    a {
        color: $lm-link-color;
        &:hover {
            color: $lm-link-hover;
        }

    }

    .mission {
        dt{
        color: $lm-accent-color;
        }

        dt em{
            color:$lm-link-color;
        }
    }


    .experience {
        dd {
            border-left-color: $lm-box-border;
        }
    }

    .social-section {
        border-color: $lm-box-border;
        //background: $lm-box-bg;
        background: $lm-box-bg-alpha;

        .social-icon {
                fill: $lm-accent-color;
                color: $lm-accent-color;
            }

        &:hover {
            background: $lm-box-bg;
            border-color: $lm-box-border;
            color: $lm-link-hover;

            .social-icon{
                fill: $lm-link-hover ;
                color:$lm-link-hover;
            }
        }
    }



    .scholar-icon:hover{
        -webkit-filter: brightness(75%);
        filter: brightness(75%);
    }

    .tag{
        color: $lm-font-color;
        background: $lm-box-bg-med;
    }
    .tag::before {
        background: $lm-box-bg;
        border-right-color: $lm-box-bg-med;
    }

    .tag:hover {
      background-color: $lm-box-border;
      color: $lm-font-color;
    }

    .tag:hover::before {
       border-right-color: $lm-box-border; 
    }


    .publications .links{
        a{
            border-color: rgba(255,255,255,0);
            border-width: 1px;
            border-style: solid;
        }
        
    }


    .links {
        a {
            background: none ;
            border-color: $lm-box-bg-med;
        }

        a:hover {
            background: $lm-box-bg-light ;
            border-color: $lm-box-border;

            .links-icon{
                fill: $lm-link-hover;
            };
        }


        .links_pdf {
            color: #870000;
            &:hover{
                color: #ff0000;
            }
        }

        .links_media {
            color: #7000a8;
            &:hover{
                color: #aa00ff;
            }
        }


        .links_bib {
            color: #e09d00;
            &:hover{
                color: #ffb600;
            }
        }

        .links-grey {
            color: #7f7f7f;

            &:hover{
                color:  #9e9e9e;
            };
        }
    }
}
