// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 20px;
$big_spacer: 40px;
$max_page_width : 860px;

.container {
    max-width: $max_page_width;
    margin: 0 auto;
    padding: 0 $spacer;
}


.little-box{
    padding: 20px;
    border-radius: 5px;
    background-color: #2a2a2a;
    border-style: Dashed;
    border-color: #626262;
    border-width: 1px;
}

.section-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: ($spacer * 2);
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 1.2rem;

    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -25px;
        width: 150px;
        height: 1px;
        background: #626262;
    }
}

a {
    color: #32B0FF;
    text-decoration: none;
    transition: all linear .2s;

    &:hover {
        color: #2581BA;
        text-decoration: none;
    }
}