// @name Layout
// @description All layout settings and styles

// Default spacing unit
$spacer: 20px;
$small_spacer: 10px;
$big_spacer: 40px;
$max_page_width : 860px;

.container {
    max-width: $max_page_width;
    margin: 0 auto;
    padding: 0 $spacer;
}


.little-box{
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-color: $box-bg;
    border-style: Dashed;
    border-color: $box-border;
    border-width: 1px;
    margin-bottom: $big_spacer;
}



//.little-box:hover{
    //.section-icon{
    //    fill: $white-color;
    // }
//}


.section-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    fill: $accent-color;

}



@media(min-width: 640px) {
    .section-icon{
        width: 75px;
        height: 75px;
    }
}







//the social icons






.social-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32px;
    height: 32px;
    fill: $accent-color;
    color:$accent-color;
    font-size:32px;
}


.social-section{
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: $box-bg-light;
    padding: 5px;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background: $box-bg-dark;

    display: inline-block;
    text-align: center;
    text-decoration: none;



    &:hover{
        background: $box-bg-light;
        border-color: $box-border;
        text-decoration: none;
        color: $white-color;

        .social-icon{
            transform: translate(0,-10%);
            fill: $white-color ;
            color:$white-color;
        }

    };
}


//////////////////////////////////////

.section-title {
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: ($spacer * 2);
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 1.2em;

    &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        margin-left: -20%;
        width: 40%;
        height: 1px;
        background: #626262;
    }
}

a {
    color: $link-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $link-hover;
        text-decoration: underline;
    }
}


// CENTRALIZED LIGHT MODE

body {

    .bg_overlay{
        background-image: url('/img/blue_drawing.jpg');

        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        background-size: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.15;
        z-index: -1;
    }

    @include light_transition(color, background-color, background-image, background-repeat, font-weight);
    .little-box {@include light_transition(background-color, border-color)}
    .section-icon {@include light_transition(fill)}
    .social-section {@include light_transition(border-color, background, color);
        .social-icon{@include light_transition(fill, color, transform)}
    }
    a {@include light_transition(color)}
    .mission {@include light_transition(color)}
    .links a {@include light_transition(background, border, color)}
}

body.light-mode {
    background-color: $lm-bg;
    background-image: none;
    background-repeat: repeat;
    color: $lm-font-color;
    font-weight: 400;

    .bg_overlay{
        opacity: 0.25;
    }

    .little-box {
        background-color: $lm-box-bg;
        border-color: $lm-box-border;
    }

    .section-icon {
        fill: $lm-accent-color;
    }

    a {
        color: $lm-link-color;
        &:hover {
            color: $lm-link-hover;
        }

    }

    .mission {
        color: $lm-accent-color;
    }

    .social-section {
        border-color: $lm-box-bg-light;
        background: $lm-box-bg;

        .social-icon {
                fill: $lm-link-color;
                color: $lm-link-color;
            }

        &:hover {
            background: $lm-box-bg-light;
            border-color: $lm-box-border;
            color: $lm-accent-color;

            .social-icon{
                fill: $lm-accent-color ;
                color:$lm-accent-color;
            }
        }
    }

    .links {
        a {
            border-color: $lm-box-bg-light;
        }

        a:hover {
            background: $lm-box-bg-light ;
            border-color: $lm-box-border;

            .links-icon{
                fill: $lm-link-hover;
            };
        }


        .links_pdf {
            color: #ff0000;
            &:hover{
                color: #870000;
            }
        }

        .links_bib {
            color: #ffb600;
            &:hover{
                color: #e09d00;
            }
        }

        .links-grey {
            color: #9e9e9e;

            &:hover{
                color: #4f4f4f;
            };
        }
    }
}
