// @name Resume
// @description All resume styles




.scholar-icon{
    display:block;
    position: absolute;
    right: 0;
    top:0;
    width:96px;
    margin: $spacer/2;
    transition: $base-transition-time
}

.scholar-icon:hover{
    -webkit-filter: brightness(140%);
    filter: brightness(140%);
}



.resume_container{
    display: block;
    margin-bottom: $big_spacer;

}

.experience{
    .description, .period{
        margin-top: $tiny_spacer;
    }
    ul li{
	margin-left: $spacer;
    }

    ul li:before {
        //list-style: none
        content:">";
        display: inline-block;
        margin-left: $small_spacer_inv;
        margin-right: $small_spacer;

    }
}


.resume_container:last-child{
    margin-bottom: 0px;
}


dt {
    display: block;
    vertical-align: top;
    margin-bottom: $small_spacer;
}

dt:last-child {
    margin-bottom: $small_spacer;
}

dd {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}



.publications dt{
    margin-top: 5px;
    margin-right: 5px;
}


.publications dd{
    margin-left: 5px;
}




.publications{
   //color:  $bright-blue;
}

.publications b{
    font-weight: bold;
}


.publications .resume_container{
    display: flex;
    justify-content: space-between;
}




.mission{
    text-align: center;
    margin-bottom: $small_spacer;
    dt{
        font-weight: bold;
        color: $accent-color;
        font-size: 1.8em;
        display: block;
        text-align: center;
    }
    dd{
        font-size: 1.0em;
        text-align: center;
        margin: $spacer;
    }
}



.mission dt em{
    color: $link-color;
    display:block;
}

.awards{

}





//Overall formatting
.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}

.org{
    font-style: italic;
}

.cv_desktop_left{
    display: none;
}

.cv_mobile_left{
    display: inline;
}



//Publication formatting
.journal{
    display: inline;
    font-style: italic;
}

.time_period{
    display: inline;
    font-weight: bold;
}

.company{
    display: inline;
    font-weight: normal;

}

.pub_names{
    display: inline;
}


.pub_info{
    display: flex;
    justify-content: space-between;
}






.publications  .links{
    display: grid;
    margin-top: 0;
    justify-content: center;

    a{
        display: flex;
        font-size: 1.1em;
        background: none;
        border-color: rgba(0,0,0,0);
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        padding: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        margin:0;
        justify-content: center;

    }
    a:hover{
        background: $box-bg-light ;
        text-decoration: none;
        border-color: rgba(0,0,0,0);
        border-width: 1px;
        border-style: solid;

        .links-icon{
            fill: $link-hover;
        };
    }
}












.links{
    display: block;
    margin-top: 10px;

    a{
        display: inline-block;
        font-size: 1.1em;
        background: none;
        border-radius: 20px;
        border-width: 1px 1px 3px 1px;
        border-style: solid;
        border-color: $box-bg-light;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;

    }
    a:hover{
        background: $box-bg-light ;
        border-color: $box-border;
        text-decoration: none;

        .links-icon{
            fill: $link-hover;
        };
    }
}


.links_pdf{
   color: #ff0000;

   &:hover{
    color: #ff5555;
   };
}


.links_media{
   color: #aa00ff;

   &:hover{
    color: #cc66ff;
   };
}


.links-icon{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    //width: 20px;
    //height: 20px;
    font-size:1.3em;
    fill: $link-color;
    top: 2px;
    position: relative;
    padding-right: 2px;
}


.links_bib{
   color: #ffb600;

   &:hover{
    color: #ffd263;
   };
}


.links-grey{
    color: #919191;

   &:hover{
    color: #cccccc;
   };
}



.proj_img{
        img{
            width: 100%;
            border-radius: 5px;
            max-height: 200px;
            border-radius: 10px;
            border-width: 1px 1px 4px 1px;
            border-color: $box-border;
            border-style: solid;
            object-fit: cover;
        }
    }

.proj_img:hover{
    img{
        border-color:$lm-box-border;
    }
}

.projects .resume_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects .time_period{
    display: block;
    font-weight: bold;
}


//Media works backward - THESE SETTINGS ARE for DESKTOP VIEWING
@media(min-width: $base-mobile-width) {


    .scholar-icon{
        width:128px;
        margin: $spacer;
    }


    .resume_container{
        margin-bottom: $big_spacer;
    }

    dt {
        display: inline-block;
        margin-bottom: $small_spacer;
        text-align: left;
        padding-right: 10px;
    }

    dd {
        text-align: justify;
        margin-left: 0px;
    }

    dt:last-child, dd:last-child  {
        margin-bottom: 0px !important;
    }



    .cv_desktop_left{
        display: inline;
    }

    .cv_mobile_left{
        display: none;
    }




    .links{
        a{
            font-size: $base-font-size
        }
    }



    .mission {
        /*font-size: 1.8em; */
        text-align: center;
        dt {
        }
    }

    .mission dt em{
        display:inline;
    }

    .experience {
        dt {
            width: 32%;
            padding-right: $spacer;
            text-align: right;
        }

        dd {
            padding-left: ($spacer);
            width: 66%;
            border-left-color: $box-border;
            border-left-width: 2px;
            border-left-style: solid;
        }

        .company{
            font-weight: bold;
        }
    }

    .education {
        dt {
            padding-right: $spacer;
        }
        dt, dd {
            width: 50%;
        }
    }

    .awards {
        dt {
            padding-right: $spacer;
            width: 70%;
        }
        dd {
            width: 29%;
        }
    }


    .publications {
        dt {
            width: 100%;
            // padding-right: $spacer;
        }
        dd {
         }
    }

    .projects .resume_container{
        flex-direction: row;
    }

    .proj_img{
        img{
            width: 100%;
            
        }
    }
}


