// @name Resume
// @description All resume styles





.resume_container{
    display: block;
    margin-bottom: $big_spacer;

}




.resume_container:last-child{
    margin-bottom: 0px;
}


dt {
    display: block;
    vertical-align: top;
    margin-bottom: $small_spacer;
}

dt:last-child {
    margin-bottom: $small_spacer;
}

dd {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}

.publications dd{
    margin-left: 0px;
}


.publications{
   //color:  $bright-blue;
}

.publications b{
    font-weight: bold;
}



.mission{
    color: $accent-color;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin-bottom: $big_spacer;
}


.light-mission{
    color: $lm-accent-color;
}



.mission em{
    color: $link-color;
    display:block;
}

.awards{

}





//Overall formatting
.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
}

.cv_desktop_left{
    display: none;
}

.cv_mobile_left{
    display: inline;
}



//Publication formatting
.journal{
    display: inline;
    font-style: italic;
}

.time_period{
    display: inline;
    font-weight: bold;
}

.company{
    display: inline;
    font-weight: normal;

}

.pub_names{
    display: inline;
}

.links{
    display: block;
    margin-top: 10px;

    a{
        display: inline-block;
        font-size: 1.1em;
        background: none;
        border-radius: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: $box-bg-light;
        padding: 4px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: 5px;
        -webkit-transition: all $base-transition-time;
    transition: all $base-transition-time;

    }
    a:hover{
        background: $box-bg-light ;
        border-color: $box-border;
        text-decoration: none;

        .links-icon{
            fill: $link-hover;
        };
    }
}



.light-links{
    a{
        border-color: $lm-box-bg-light;
        -webkit-transition: all $base-transition-time;
    transition: all $base-transition-time;
    }

    a:hover{
        background: $lm-box-bg-light ;
        border-color: $lm-box-border;

        .links-icon{
            fill: $lm-link-hover;
        };
    }


    .links_pdf{
        color: #ff0000;
        &:hover{
            color: #870000;
        }
    }

    .links_bib{
        color: #ffb600;
        &:hover{
            color: #e09d00;
        }
    }

    .links-grey{
        color: #9e9e9e;

        &:hover{
            color: #4f4f4f;
        };
    }
}





.links_pdf{
   color: #ff0000;

   &:hover{
    color: #ff5555;
   };
}


.links-icon{
    display: inline-block;
    margin-left: auto; 
    margin-right: auto;
    //width: 20px;
    //height: 20px;
    font-size:1.3em;
    fill: $link-color;
    top: 2px;
    position: relative;
    padding-right: 2px;
}


.links_bib{
   color: #ffb600;

   &:hover{
    color: #ffd263;
   };
}


.links-grey{
    color: #919191;

   &:hover{
    color: #cccccc;
   };
}


//Media works backward - THESE SETTINGS ARE for DESKTOP VIEWING
@media(min-width: 640px) {

    .resume_container{
        margin-bottom: $big_spacer;
    }
    
    dt {
        display: inline-block;
        margin-bottom: $small_spacer;
        text-align: left;
        padding-right: 10px;
    }

    dd {
        text-align: justify;
        margin-left: 0px;
    }

    dt:last-child, dd:last-child  {
        margin-bottom: 0px !important;
    }



    .cv_desktop_left{
        display: inline;
    }

    .cv_mobile_left{
        display: none;
    }




    .links{
        a{
            font-size: $base-font-size
        }
    }



    .mission {
        font-size: 1.8em;
        text-align: center;
        dt {
            display: block;
            text-align: center;
        }
    }

    .mission em{
        display:inline;
    }

    .experience {
        dt {
            width: 32%;
            padding-right: $spacer;
            text-align: right;
        }

        dd {
            padding-left: ($spacer);
            width: 66%;
            border-left-color: $box-border;
            border-left-width: 2px;
            border-left-style: solid;
        }

        .company{
            font-weight: bold;
        }
    }

    .education {
        dt {
            padding-right: $spacer;
        }
        dt, dd {
            width: 50%;
        }
    }

    .awards {
        dt {
            padding-right: $spacer;
            width: 70%;
        }
        dd {
            width: 29%;
        }
    }


    .publications {
        dt {
            width: 100%;
            // padding-right: $spacer;
        }
        dd {
         }
    }
}


