// @name Resume
// @description All resume styles





.resume_container{
    display: block;
    margin-bottom: $big_spacer;
}


.resume_container:last-child{
    margin-bottom: 0px;
}


dt {
    display: block;
    vertical-align: top;
    margin-bottom: $small_spacer;
}

dt:last-child {
    margin-bottom: $small_spacer;
}

dd {
    display: inline-block;
    vertical-align: top;
    margin-left: 0px;
}

.publications dd{
    margin-left: 0px;
}


.publications{
   //color:  $bright-blue;
}

.publications b{
    font-weight: bold;
    color: $base-font-color;
}



.mission{
    color: $bright-blue;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: $big_spacer;
}

.mission em{
    color: $link-color;
    display:block;
}

.awards{

}


//Overall formatting
.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2em;
    color: $title-color;
}

.cv_desktop_left{
    display: none;
}

.cv_mobile_left{
    display: inline;
}



//Publication formatting
.journal{
    display: inline;
    font-style: italic;
}

.time_period{
    display: inline;
    font-weight: bold;
}

.company{
    display: inline;
    font-weight: bold;
}

.links{
    display: block;
    margin-top: 10px;

    a{
        background: $box-bg ;
        border-radius: 3px;
        border-width: 1px;
        border-style: dashed;
        border-color: $box-border;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;

    }
    a:hover{
        background: $box-bg-light ;
    }
}

.links_pdf{
   color: #ff0000;

   &:hover{
    color: #ff0000;
   };
}

.links_bib{
   color: #ffb600;

   &:hover{
    color: #ffb600;
   };
}



//Media works backward - THESE SETTINGS ARE for DESKTOP VIEWING
@media(min-width: 640px) {

    .resume_container{
        margin-bottom: $big_spacer;
    }
    
    dt {
        display: inline-block;
        padding-right: 5px;
        margin-bottom: $small_spacer;
        text-align: left;
    }

    dd {
        text-align: justify;
        margin-left: 0px;
    }

    dt:last-child, dd:last-child  {
        margin-bottom: 0px !important;
    }



    .cv_desktop_left{
        display: inline;
    }

    .cv_mobile_left{
        display: none;
    }




    .mission {
        font-size: 1.8em;
        text-align: center;
        dt {
            display: block;
            text-align: center;
        }
    }

    .mission em{
        display:inline;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: $spacer;
        }

        dd {
            width: 70%;
        }
    }

    .education {
        dt {
            padding-right: $spacer;
        }
        dt, dd {
            width: 50%;
        }
    }

    .awards {
        dt {
            padding-right: $spacer;
            width: 70%;
        }
        dd {
            width: 29%;
        }
    }


    .publications {
        dt {
            width: 100%;
            // padding-right: $spacer;
        }
        dd {
         }
    }
}


