
$slider_diameter: 20px;
$slider_padding: 2px;
$slider_width: 30px;
$border_width: 1px;

$overall_width: $slider_width + $slider_diameter + 2*$slider_padding + 2*$border_width;


// Toggle switches
.switch {
  position: relative;
  display: block;
  margin-left: 0px;
  margin-right:0px;
  /*margin-bottom: 5px; */
  width: $overall_width+15px;
  height: $slider_diameter+ 2*$slider_padding + 2*$border_width;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  width: $overall_width;
  bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
  background-color: #ccc;
  @include transition($base-transition-time);

  border-color: $lm-box-border;
  border-width: $border_width;
  border-style: solid;

  .invert-icon{
    left: 26px;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: $slider_diameter;
  width: $slider_diameter;
  left: $slider_padding;
  bottom: $slider_padding;
  background-color: $lm-accent-color;
  @include transition($base-transition-time);
}

input:checked + .slider {
  background-color: $box-bg;
  border-color: $box-border;
  text-align: left;

  .invert-icon{
    left: 0px;
  }
}



input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  background-color: $accent-color;
  -webkit-transform: translateX($slider_width);
  -ms-transform: translateX($slider_width);
  transform: translateX($slider_width);
}

/* Rounded sliders */
.slider.round {
  border-radius: $slider_diameter;
}

.slider.round:before {
  border-radius: 50%;
}


.invert-icon{
    position: relative;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    width: 20px;
    height: 20px;
    fill: $accent-color;
    color:$accent-color;
}








.darkmode-box{
  /*position: absolute; */
  position: fixed;
  right:0;
  padding:10px;
  padding-right: 10px;
  padding-top: 10px;
  z-index:1000;
  display: flex;
  flex-wrap: wrap;
  background: $box-bg-black;
}

.darkmode-label{
  text-align: center;
}


.darkmode-box-top{
  display: flex;
  flex-wrap: wrap;
}

@media(max-width: $nav-switch-width) {
  .darkmode-box{
    justify-content: space-between;
    left:0;
  }
  .darkmode-label{
    display: none;
  }
}


@media(min-width: $nav-switch-width) {
  .darkmode-box{
    justify-content: none;
    position: fixed;
    padding-right: 10px;
    border-bottom-left-radius: 5px;
  }

  .darkmode-label{
    display: inline;
  }
}



/*TAGS   */

$tag-height: 1.7em;


.tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
    display: block;
}

.tags li {
    float: left; 
}

.tag {
    font-size: 0.9em;
    font-weight: normal;
    color: $base-font-color;
    background: $box-bg-light;
    border-radius: 2px;
    display: inline-block;
    height: $tag-height;
    line-height: $tag-height;
    padding: 0 10px 0 15px;
    position: relative;
    margin: 10px 10px 0 0;
    text-decoration: none;
}


.tag::before {
  background: $box-bg;
  border-bottom: $tag-height*0.5 solid transparent;
  border-right: $tag-height*0.35 solid $box-bg-light;
  border-top: $tag-height*0.5 solid transparent;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
}



.tag:hover {
  background-color: $box-border;
  color: $base-font-color;
  text-decoration: none;
}

.tag:hover::before {
   border-right-color: $box-border; 
}
