// @name Typography
// @description All typography settings and styles

@import url(https://fonts.googleapis.com/css?family=Lato:300,900);

// Our variables
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-transition-time: .3s;

$mobile-font-size:   14px;

$bright-blue: #A5DEFF;
$vivid-blue:#32B0FF;
$vivid-blue-dk: #0091ed;
$dark-blue: #004872;
$vermillion-color: #F24333;
$orange-yellow: #E98A15;
$white-color: #ffffff;




$link-color: $vivid-blue;
$link-hover: $bright-blue;

//$link-hover: #2581BA;

$box-bg: #2a2a2a;
$box-bg-light: #4a4a4a;
$box-bg-med:  #323232;
$box-bg-dark: #202020;
$box-border: #626262;



$lm-box-bg: #ededed;
$lm-box-bg-light: #dddddd;
$lm-box-bg-med:  #323232;
$lm-box-bg-dark: #202020;
$lm-box-border: #bbbbbb;
$lm-font-color: #000000;
$lm-accent-color: $dark-blue;
$lm-link-hover: $dark-blue;
$lm-link-color: $vivid-blue-dk;




$base-font-color: $white-color;
$title-color:  $white-color;
$accent-color: #A5DEFF;

// Transition mixin to avoid having to write these all out
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin light_transition($args ...) {
    @include transition(all $base-transition-time ease);
    transition-property: $args;
}

body {
    font-family: $base-font-family, serif;
    font-size: $mobile-font-size;
    color: $base-font-color;
    line-height: 1.4;
    background: #181818;

}

.load_hider{
    opacity: 0.0;
    @include transition(transform, $base-transition-time);
    @include transition(opacity, $base-transition-time);
    transform: translate(0, 0px);
}



@media(min-width: 640px) {
	body{
		font-size: $base-font-size;
	}
}






