// @name Typography
// @description All typography settings and styles

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

// Our variables
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$link-color: #32B0FF;
$link-hover: #2581BA;
$bright-blue: #bfe7ff;
$box-bg: #2a2a2a;
$box-border: #626262;

body {
    font-family: $base-font-family, serif;
    font-size: $base-font-size;
    color: #ffffff;
    line-height: 1.1;
    background: #181818;
}
