// @name Typography
// @description All typography settings and styles

@import url(https://fonts.googleapis.com/css?family=Lato:300,900);

// Our variables
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-transition-time: 0.2s;

$mobile-font-size:   14px;

$bright-blue: #A5DEFF;
$vermillion-color: #F24333;
$orange-yellow: #E98A15;
$white-color: #ffffff;


$link-color: #32B0FF;
$link-hover: $bright-blue;
//$link-hover: #2581BA;

$box-bg: #2a2a2a;
$box-bg-light: #4a4a4a;
$box-bg-med:  #323232;
$box-border: #626262;

$base-font-color: $white-color;
$title-color:  $white-color;
$accent-color: #A5DEFF;

body {
    font-family: $base-font-family, serif;
    font-size: $mobile-font-size;
    color: $base-font-color;
    line-height: 1.4;
    background: #181818;
    
}

.load_hider{
	opacity: 0.0;
	-webkit-transition: all 0.3s;
    transition: all 0.3s;
    transform: translate(0, 0px);
}



@media(min-width: 640px) {
	body{
		font-size: $base-font-size;
	}
}